<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Do It Yourself
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let producto of listaProductos">
          <ion-card>
            <img src="{{producto.img}}" alt="">
            <ion-card-header>
              <ion-card-subtitle>{{producto.price}} €</ion-card-subtitle>
              <ion-card-title>{{producto.name}}</ion-card-title>
              <ion-button expand="block" (click)="abrirCustomizerDesdeServicio(producto)">
                Personalizar
              </ion-button>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>          
    </ion-grid>
  </div>
  <!-- <customizer [producto]="selectedProduct"></customizer> -->
</ion-content>
