.imgBaseF{
    width: 50%;
    left: 0;
}
.imgBaseB{
    width: 50%;
    right: 0; 
}
.selected{
    background: slategray;
    border-radius: 50%;
}
.capa1F{
    width: 50%;
    left: 0; 
    z-index: 1; 
    position: absolute; 
    /* padding-left: 0.8%; */
}
.capa1B{
    width: 50%;
    right: 0; 
    z-index: 1; 
    position: absolute; 
    /* padding-right: 0.8%; */
}
.capa2F{
    width: 50%;
    left: 0; 
    z-index: 2; 
    position: absolute; 
    /* padding-left: 0.8%; */
}
.capa2B{
    width: 50%;
    right: 0; 
    z-index: 2; 
    position: absolute; 
    /* padding-right: 0.8%; */
}
.btn-colorBase{
    width: 30%;
}
.colorBaseContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.avatar{
    width: 100%;
}
#codigoTextArea{
    padding: 0px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
