<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{selectedProduct.name}}</ion-title>
    <div class="ion-text-center">
      <span>Copia tu codigo personalizado: </span>
      <div  style="background: tomato;">
        <!--<input type="text" value="{{tallaSelected}}{{colorBaseSelected.id}}{{estampadoBaseSelected.id}}" #code>    -->    
        <textarea name="" id="codigoTextArea" cols="20" rows="1" #code disabled>{{tallaSelected}}{{colorBaseSelected.id}}{{estampadoBaseSelected.id}}{{colorVolantesSelected.id}}{{estampadoVolantesSelected.id}}</textarea>
      </div>
<ion-button size="small" color="dark" (click)="copiarCodigo(code)">Copiar codigo</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-justify-content-center ion-no-padding ion-no-margin" size-xs size-sm [scrollEvents]="false">
  <ion-grid class="ion-justify-content-center ion-no-padding ion-no-margin">
    <ion-row class="ion-justify-content-center ion-no-padding ion-no-margin" style="position: fixed;width: 98%;
    left: 50%;
    transform: translate(-50%, 0);">
      <ion-col size-xs size-sm="8" class="ion-no-padding ion-no-margin">

        <img class="imgBaseF" src="{{selectedProduct.imgF}}" alt="">
        <img class="imgBaseB" src="{{selectedProduct.imgB}}" alt="">

        <img class="capa1F" *ngIf="estampadoBaseSelected" src="{{estampadoBaseSelected.imgF}}" alt="">
        <img class="capa1B" *ngIf="estampadoBaseSelected" src="{{estampadoBaseSelected.imgB}}" alt="">

        <img class="capa1F" *ngIf="colorVolantesSelected" src="{{colorVolantesSelected.imgF}}" alt="">
        <img class="capa1B" *ngIf="colorVolantesSelected" src="{{colorVolantesSelected.imgB}}" alt="">

        <img class="capa2F" *ngIf="estampadoVolantesSelected" src="{{estampadoVolantesSelected.imgF}}" alt="">
        <img class="capa2B" *ngIf="estampadoVolantesSelected" src="{{estampadoVolantesSelected.imgB}}" alt="">
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer>

  <ion-toolbar>

    <ion-content style="height: 17em;" class="ion-text-center">
      <ion-title>Do It Yourself</ion-title>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-list-header class="ion-text-center">Talla</ion-list-header>
            <ion-chip *ngFor="let talla of selectedProduct.size" (click)="cambiarTalla(talla)"
              [class.selected]="talla === tallaSelected">
<!--               <ion-avatar>
                <img
                  src="https://static.wixstatic.com/media/f23a2c_6474b7695e1e4b8896b9b513e718e7ee~mv2.jpg/v1/fill/w_765,h_765,al_c,q_90,usm_0.66_1.00_0.01/f23a2c_6474b7695e1e4b8896b9b513e718e7ee~mv2.webp"
                  alt="">
              </ion-avatar> -->
              <ion-label>{{talla}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col class="colorBaseContainer" size="3">
            <ion-list-header class="ion-text-center">Color base</ion-list-header>
            <a class="btn-colorBase" *ngFor="let baseColor of selectedProduct.baseColor" (click)="cambiarColorbase(baseColor)"
              [class.selected]="baseColor === colorBaseSelected">
              <ion-avatar class="avatar">
                <img src="{{baseColor.imgF}}" alt="">
              </ion-avatar>
              <!-- <ion-label>{{baseColor.name}}</ion-label> -->
            </a>
          </ion-col>
          <ion-col size="3">
            <div *ngIf="selectedProduct.estampadoBase">
              <ion-list-header class="ion-text-center">Estampado Base</ion-list-header>
              <ion-chip *ngFor="let estampadoBase of selectedProduct.estampadoBase"
                (click)="cambiarEstampadoBase(estampadoBase)" [class.selected]="estampadoBase === estampadoBaseSelected">
                <ion-avatar>
                  <img src="{{estampadoBase.imgF}}" alt="">
                </ion-avatar>
                <ion-label>{{estampadoBase.name}}</ion-label>
              </ion-chip>
            </div>
          </ion-col>
          <ion-col size="3">
            <div *ngIf="selectedProduct.colorVolantes">
              <ion-list-header class="ion-text-center">Color Volantes</ion-list-header>
              <ion-chip *ngFor="let colorVolantes of selectedProduct.colorVolantes"
                (click)="cambiarColorVolantes(colorVolantes)" [class.selected]="colorVolantes === colorVolantesSelected">
                <ion-avatar>
                  <img src="{{colorVolantes.imgF}}" alt="">
                </ion-avatar>
                <ion-label>{{colorVolantes.name}}</ion-label>
              </ion-chip>
            </div>
          </ion-col>
          <ion-col size="3">
            <div *ngIf="selectedProduct.estampadoVolantes">
              <ion-list-header class="ion-text-center">Estampado Volantes</ion-list-header>
              <ion-chip *ngFor="let estampadoVolantes of selectedProduct.estampadoVolantes"
                (click)="cambiarEstampadoVolantes(estampadoVolantes)"
                [class.selected]="estampadoVolantes === estampadoVolantesSelected">
                <ion-avatar>
                  <img src="{{estampadoVolantes.imgF}}" alt="">
                </ion-avatar>
                <ion-label>{{estampadoVolantes.name}}</ion-label>
              </ion-chip>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>    
    </ion-content>
  </ion-toolbar>
</ion-footer>